<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITextSearcher" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1234/textSearcher" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_ITextSearcher" contract="ITextSearcher"
          name="BasicHttpBinding_ITextSearcher" />
    </client>
  </system.serviceModel>
</configuration>